<nav>
  <% if current_page.path == "index.html" %>
    <%= link_to 'about', '/about.html' %>
    <%= link_to 'portfolio', '/portfolio.html' %>
    <%= link_to 'contact', '/contact.html' %>
    <% else %>
      <%= link_to 'emily porta', '/index.html',  class: "text-logo"%>
      <%= link_to 'home', '/index.html' %>
      <%= link_to 'about', '/about.html' %>
      <%= link_to 'portfolio', '/portfolio.html' %>
      <%= link_to 'contact', '/contact.html' %>
  <% end %>
</nav>
